{% extends 'index.html' %}
{% block title %}Dashboard | NovaLore {% endblock title %}
{% block profile %}
{% url 'profile' student.student_id %}
{% endblock %}
{% block user %}
{{student.name}}
{% endblock user %}
{% block allCourses %}
{% url 'courses' %}
{% endblock%}
{% block courses %}
{% url 'myCourses' %}
{% endblock %}
{% block content %}
<div class="container">
   <div class="container shadow-sm">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            <li class="breadcrumb-item active" aria-current="page">My Classrooms</li>
         </ol>
      </nav>
   </div>
   {% if courses %}
   <!-- Course container -->
   <div class="card_primary d-flex flex-wrap" style="margin: 40px;">
      <!-- Первый курс -->
      <div class="cd card text-center my-4 mx-4" style="width: 29rem !important; border-radius: 38px;">
         <div style="border-top-left-radius: 38px; border-top-right-radius: 38px;"  class="card-header text-light fw-bold">
            Dept. of {{courses.0.department}}
         </div>
         <div class="card-body">
            <h5 class="card-title fw-bold"> {{courses.0.department}}-{{courses.0.code}} : {{courses.0.name}}</h5>
            <a href="{% url 'course' courses.0.code %}" class="btn btn-outline-dark px-5 rounded-circle">Enter</a>
         </div>
         <div style="border-bottom-left-radius: 35px; border-bottom-right-radius: 35px;" class="card-footer text-light fw-bold ">
            {% if courses.0.faculty %}
            Classroom Teacher : {{ courses.0.faculty.name}}
            {% else %}
            Teacher not assigned yet
            {% endif %}
         </div>
      </div>
      <!-- Последующие курсы -->
      {% for course in courses|slice:"1:" %}
      <div class="cd card text-center my-4 mx-4" style="width: 29rem !important; border-radius: 38px;">
         <div style="border-top-left-radius: 38px; border-top-right-radius: 38px;"  class="card-header text-light fw-bold">
            Dept. of {{course.department}}
         </div>
         <div class="card-body">
            <h5 class="card-title fw-bold"> {{course.department}}-{{course.code}} : {{course.name}}</h5>
            <a href="{% url 'course' course.code %}" class="btn btn-outline-dark px-5 rounded-circle">Enter</a>
         </div>
         <div style="border-bottom-left-radius: 35px; border-bottom-right-radius: 35px;" class="card-footer text-light fw-bold ">
            {% if course.faculty %}
            Classroom Teacher : {{ course.faculty.name}}
            {% else %}
            Teacher not assigned yet
            {% endif %}
         </div>
      </div>
      {% endfor %}
   </div>
   {% else %}
   <div class="text-center fs-5 text-secondary">
      <p>You are not enrolled in any classrooms</p>
   </div>
   {% endif %}
</div>
</div>

{% endblock %}
